[Unit]
Description=Moyeota Backend
After=network.target

[Service]
User=root
WorkingDirectory=/opt/moyeota
EnvironmentFile=/etc/moyeota/moyeota.env
EnvironmentFile=/etc/moyeota/otel.env
ExecStart=/usr/bin/java -javaagent:/opt/otel/opentelemetry-javaagent.jar -jar /opt/moyeota/app.jar
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

